@charset "UTF-8";
@font-face {
  font-family: 'Helvetica'
  src:url("font/Helvetica Light.ttf");
}
@font-face {
  font-family: 'bodoni'
  src:url("font/bodoni book bt.ttf");
}
/* 모바일 */
@media screen and (max-width:767px) {
  /* header */
  header.bg{background: rgba(0,0,0,0.7); height: 80px;}
  h1{right: 0px; top: 15px; z-index: 9999;}
  h1 img{width: 80%;}
  h2{padding: 0; text-align: center;}
  #btn-menu{display: none;}
  .btn-menu *,nav{transition: 0.5s;}
  .btn-menu{
    position: absolute;
    top: 15px; left: 20px;
    width: 30px; height: 30px;
    z-index: 99;
  }
  .btn-menu span{
    position: absolute;
    top: 15px;
    width: 30px; height: 5px;
    background: #fff;
    transform-origin: -1px 2px;
    transition: 0.5s;
  }
  .btn-menu span:nth-child(1){bottom: 0px; top: auto;}
  .btn-menu span:nth-child(2){top: 50%;}
  .btn-menu span:nth-child(3){top: 5px;}

  #btn-menu:checked + label span:nth-child(1){height: 3px;transform: rotate(-45deg);}
  #btn-menu:checked + label span:nth-child(2){opacity: 0;}
  #btn-menu:checked + label span:nth-child(3){height: 3px; transform: rotate(45deg);}
  #btn-menu:checked ~ nav{left: 0;}

  nav{position: fixed;
    top: 0; bottom: 0; left: -150%;
    background: #000;
  }
  header nav .gnb{position: absolute; top: 40px; left: 25px; padding: 0 0;}
  header nav .gnb li{float: none; width: 100%; margin: 30px 0;}
  .mobile{display: block;}
  header nav .gnb li a{
    text-align: left;
    font-size: 25px;
    color: #fff;
  }
  header nav .gnb li:nth-child(1) a{margin: 0;}
  header nav .gnb li:hover{border-bottom: 1px solid #fff;}
  header nav .language{
    position: absolute;
    width: 100%;
    left: 0; bottom: 8%;
  }
  header nav .language a{display: none;}
  header nav .language ul {height: 50px;}
  header nav .language ul li{width: 23%; float: left;}
  header nav .language ul li a{ border: 0; display: inline-block;color: #fff; font-size: 20px; font-weight: bold;}
  header nav .language ul li:hover a{color: #33e2d1;}
  .sns{position: absolute; left: 20px; bottom: 10px; display: block;}
  .sns li{ float: left;}
  .sns li a{display: inline-block; margin-left: 25px;}
  .sns li:nth-child(1) a{margin-left: 0;}
  /* -------/ header */
  /* 메인영역 */
  .main-slide .text-box{display: none;}
  .main-slide .controls{top: 0%; color: #fff;}
  .main-slide .swiper-pagination{width: 100%; bottom: 20%; left: 0; transform: translate(0,-20%)}
  .main-slide .swiper-pagination-bullet
  {height: 57px; width: 80px;}
  .main-slide .swiper-pagination-bullet{background: none; margin: 0 20px;}
  .main-slide .swiper-pagination-bullet-active{}
  .mobile-icon, .text{display: block;}
  .main-slide .swiper-pagination-bullet-active .circle{display: none;}
  .text{position: absolute; left: 20px; display: none;}
  .main-slide .swiper-pagination-bullet-active .text{
    display: block; top: 80px;

  }
  /* /===메인영역 */

  /* feature film 영역*/
  .pixar .wrapper{margin: 0 0px;}
  /* -----------/feature film 영역 */

  /* marvel영역 */
  .preview{padding: 40px 0;}
  /* -----------/ marvel영역 */

  /* movie 영역 */
  .movie h2{padding: 20px 0; text-align: center;}
  .movie .movie-swiper{padding: 0 30px; height: 400px;}
  .movie .swiper-wrapper{padding: 0;}
  .movie .swiper-slide img{width: 80%;}
  .movie .swiper-slide .release-back-wrap{
    width: 100%;
    position: absolute;
    left: 50%; transform: translateX(-50%);
  }
  .movie .swiper-slide span{text-align: center;}
  .movie .swiper-slide span:nth-child(1){font-size: 30px;}
  .movie .swiper-slide a{position: relative; top: 30px;}
  /* footer 영역 */
  footer{height: 90px; position: relative;}
  footer h2{left: 50%; transform: translateX(-50%);width: 100px;}
  footer h2 img{width: 100%;}
  footer .sitemap{display: none; bottom: 300px; height: 230px; overflow: hidden;z-index: 8;background: #000;}
  .title{
    position: absolute;
    top: 10px; right: 10px;
    display: inline-block;
    color: #ccc; font-size: 12px;}
  .title::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 10px;
    color: #ccc;
    content:"\f0d7";
    transform: rotate(0deg);
    transition: 0.5s;
  }
  footer .sitemap ul{transform: none;}
  footer .sitemap ul.col1{left: 0;}
  footer .sitemap ul.col2{right: 0; top: 0;}
  footer .sitemap ul li{float: none; margin-top: 15px;}
  footer .sitemap a{font-size: 10px;}
  footer span{font-size: 10px; transform:none; width: 100%; left: 10px;}
  .pixar-popup .controls{width: 100%; left: 0;}
  .icon-next{width: 60px; height: 40px; background-position: -454px -34px;}
  .icon-prev{width: 60px; height: 40px; background-position: -533px -34px;}
  .pixar-popup .icon-close{width: 30px; height: 30px; background-position: -388px -34px;}
  .right.col-sm-6{display: none;}
}



/* 테블릿 */
@media all and (min-width: 768px) and (max-width: 1024px){
  /* header */
  h1{right: 0px; top: 15px; z-index: 9999;}
  h1 img{width: 80%;}
  #btn-menu{display: none;}
  .btn-menu *,nav{transition: 0.5s;}
  .btn-menu{
    position: absolute;
    top: 15px; left: 20px;
    width: 30px; height: 30px;
    z-index: 99;
  }
  .btn-menu span{
    position: absolute;
    top: 15px;
    width: 30px; height: 5px;
    background: #fff;
    transform-origin: -1px 2px;
    transition: 0.5s;
  }
  .btn-menu span:nth-child(1){bottom: 0px; top: auto;}
  .btn-menu span:nth-child(2){top: 50%;}
  .btn-menu span:nth-child(3){top: 5px;}

  #btn-menu:checked + label span:nth-child(1){height: 3px;transform: rotate(-45deg);}
  #btn-menu:checked + label span:nth-child(2){opacity: 0;}
  #btn-menu:checked + label span:nth-child(3){height: 3px; transform: rotate(45deg);}
  #btn-menu:checked ~ nav{left: 0;}

  nav{position: fixed;
    top: 0; bottom: 0; left: -150%;
    width: 100%;
    background: #000;
  }
  header nav .language{
    width: 100%;
    left: 0; bottom: 10%;
  }
  header nav .language a{display: none;}
  header nav .language ul {height: 50px;}
  header nav .language ul li{width: 28%; float: left;}
  header nav .language ul li a{ color: #fff; font-size: 20px; font-weight: bold;}
  header nav .language ul li:hover a{color: #33e2d1;}
  header nav .gnb{position: absolute; top: 40px; left: 25px; padding: 0 0;}
  header nav .gnb li{float: none; width: 100%;}
  .mobile{display: block;}
  header nav .gnb li a{
    text-align: left;
    font-size: 25px;
    margin-top: 25px;
    color: #fff;
  }
  header nav .gnb li:hover{border-bottom: 1px solid #fff;}
  /* .controls{width: 50%; bottom: 15%;} */
  .sns{position: absolute; left: 20px; bottom: 30px; display: block;}
  .sns li{ float: left;}
  .sns li a{display: inline-block; margin-left: 25px;}
  /* -------/ header */
  .main-slide .swiper-pagination-bullet{margin: 0 20px;}
  /* feature film */
  .pixar .film1 p{font-size: 1.5em}
  /* -----------/feature film 영역 */
  /* marvel영역 */
  .preview{padding: 40px 0;}
  /* -----------/ marvel영역 */
  /* movie */
  .movie .swiper-wrapper{padding: 0px;}
  .movie .swiper-slide span:nth-child(1){font-size: 20px;}
  .movie .swiper-slide span:nth-child(2){font-size: 15px;}
  .movie .swiper-slide a{bottom: 18%;}
  /* footer */
  footer h2{padding: 30px 0;}
  footer .sitemap{display: none; bottom: 484px; height: 330px; overflow: hidden;z-index: 8;background: #000;}
  .title{
    position: absolute;
    top: 25px; right: 25px;
    display: inline-block;
    color: #ccc; font-size: 20px; cursor: pointer;
  }
  .title::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 10px;
    color: #ccc;
    content:"\f0d7";
    transform: rotate(0deg);
    transition: 0.5s;
  }
  footer .sitemap ul{transform: none;}
  footer .sitemap ul.col1{left: 0;}
  footer .sitemap ul.col2{right: 0; top: 0;}
  footer .sitemap ul li{float: none; margin-top: 20px;}
  footer .sitemap a{font-size: 20px;}
  footer span{font-size: 20px; transform:none; width: 100%; left: 10px;}
}
